<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rechnung</title>
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <header class="clearfix">
        <h1>RECHNUNG</h1>

        <div id="company">
            <table>
                <tbody>
                    <tr>
                        <td>Rechnungsnummer:</td>
                        <td>{{ bill_no }}</td>
                    </tr>
                    <tr>
                        <td>Rechnungsdatum:</td>
                        <td>{{ date }}</td>
                    </tr>
                </tbody>
            </table>
            <!--<div>-->
                <!--Rechnungsnummer: {{ bill_no }}-->
            <!--</div>-->
            <!--<div>-->
                <!--Rechnungsdatum: {{ date }}-->
            <!--</div>-->
        </div>
         <div id="project">
             <div>
                 {{ receiver }}
             </div>
             <div>
                 {{ address }}
             </div>
             <div>
                 {{ city }}
             </div>
         </div>
    </header>

    <table>
        <THEAD>
            <TR>
                <TH class="qty">Menge</TH>
                <TH class="unit">Einheit</TH>
                <TH class="desc">Leistung</TH>
                <TH class="ppunit">á</TH>
                <TH class="total">Preis</TH>
            </TR>
        </THEAD>
        <TBODY>
    {% for commissions in items %}
            <TR>
                <TD colspan="5" class="service">{{ commissions.name }}</TD>
            </TR>
        {% for item in commissions['items'] %}
            <TR>
                <TD class="qty">{{item.amount}}</TD>
                <TD class="unit">{{item.unit}}</TD>
                <TD class="desc">{{item.text}}</TD>
                <TD class="ppunit">{{ '%0.2f' % item.price_per_unit|float }}</TD>
                <TD class="total">{{ '%0.2f' % item.price|float }}</TD>
            </TR>
        {% endfor %}
    {% endfor %}
        <TR>
            <TD colspan="4" class="netto total_text">Netto:</TD>
            <TD class="netto total">{{ '%0.2f' % netto|float }}</TD>
        </TR>
        <TR>
            <TD colspan="4" class="mwst total_text">MwSt:</TD>
            <TD class="mwst total">{{ '%0.2f' % mwst|float }}</TD>
        </TR>
        <TR>
            <TD colspan="4" class="grand total total_text">Brutto:</TD>
            <TD class="grand total">{{ '%0.2f' % brutto|float }}</TD>
        </TR>
        </TBODY>
    </table>




</body>
</html>
